.studio-theme {
  /* Default: Dark Theme */
  --color-studio-bg: #09090b;
  --color-studio-surface: #17171a;
  --color-studio-text: #fcfcf8;
  --color-studio-muted: #a1a1aa;
  --color-studio-border: #27272a;
  --color-studio-accent: #9666ff;

  color-scheme: dark;
  background-color: var(--color-studio-bg);
  color: var(--color-studio-text);
  transition: background-color 0.5s ease, color 0.5s ease;

  .logo-theme {
    @apply transition-all duration-300;
    filter: brightness(0) invert(1);
  }

  &[data-theme="light"] {
    --color-studio-bg: #fcfcf8;
    --color-studio-surface: #f1f1ee;
    --color-studio-text: #09090b;
    --color-studio-muted: #71717a;
    --color-studio-border: #e4e4e7;
    --color-studio-accent: #7a3cff;

    color-scheme: light;

    .logo-theme {
      filter: brightness(0);
    }
  }
}
